body{
    background-color: #09244f;
    margin: 0;
    padding: 0;
    color: white;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#landscape{
    background-image: url(images/lake-1581879_1920.jpg);
}
h1{
   
   position: relative;
   text-align: center;
}
#snow .flake{
    top: -10%;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: radial-gradient(rgb(154, 218, 255),#fffa);
    animation: fall 10s linear infinite;
    font-size: 0;
}
#snow .flake.md{
    animation: fall 20s linear infinite;
    height: 12px;
    width: 12px;
}
#snow .flake.sm{
    animation: fall 27s linear infinite;
    height: 7px;
    width: 7px;
}
#snow .flake:nth-child(1){
    left: 45%;
    animation-delay: 3s;
}
#snow .flake:nth-child(2){
    left: 15%;
    animation-delay: 1s;
}
#snow .flake:nth-child(3){
    left: 25%;
    animation-delay: 5s;
}
#snow .flake:nth-child(4){
    left: 75%;
    animation-delay: 7s;
}
#snow .flake:nth-child(5){
    left: 65%;
    animation-delay: 9s;
}
#snow .flake:nth-child(6){
    left: 20%;
    animation-delay: 6s;
}
#snow .flake:nth-child(7){
    left: 50%;
    animation-delay: 8s;
}
#snow .flake:nth-child(8){
    left: 90%;
    animation-delay: 4s;
}
#snow .flake:nth-child(9){
    left: 30%;
    animation-delay: 10s;
}
#snow .flake:nth-child(10){
    left: 10%;
    animation-delay: 2s;
}
#snow .flake.md:nth-child(11){
    left: 35%;
    animation-delay: 3s;
}
#snow .flake.md:nth-child(12){
    left: 5%;
    animation-delay: 1s;
}
#snow .flake.md:nth-child(13){
    left: 55%;
    animation-delay: 5s;
}
#snow .flake.md:nth-child(14){
    left: 95%;
    animation-delay: 7s;
}
#snow .flake.md:nth-child(15){
    left: 75%;
    animation-delay: 9s;
}
#snow .flake.md:nth-child(16){
    left: 40%;
    animation-delay: 6s;
}
#snow .flake.md:nth-child(17){
    left: 30%;
    animation-delay: 8s;
}
#snow .flake.md:nth-child(18){
    left: 80%;
    animation-delay: 4s;
}
#snow .flake.md:nth-child(19){
    left: 30%;
    animation-delay: 10s;
}
#snow .flake.md:nth-child(20){
    left: 10%;
    animation-delay: 2s;
}
#snow .flake.sm:nth-child(21){
    left: 45%;
    animation-delay: 3s;
}
#snow .flake.sm:nth-child(22){
    left: 15%;
    animation-delay: 1s;
}
#snow .flake.sm:nth-child(23){
    left: 25%;
    animation-delay: 5s;
}#snow .flake.sm:nth-child(24){
    left: 75%;
    animation-delay: 7s;
}
#snow .flake.sm:nth-child(25){
    left: 65%;
    animation-delay: 9s;
}
#snow .flake.sm:nth-child(26){
    left: 20%;
    animation-delay: 6s;
}
#snow .flake.sm:nth-child(27){
    left: 50%;
    animation-delay: 8s;
}
#snow .flake.sm:nth-child(28){
    left: 90%;
    animation-delay: 4s;
}
#snow .flake.sm:nth-child(29){
    left: 30%;
    animation-delay: 10s;
}
#snow .flake.sm:nth-child(30){
    left: 10%;
    animation-delay: 2s;
}
.form{
    margin: 100px 0;
    width: 500px;
    background-color: #3336;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
}
.form li{
    list-style: none;
    background-color: rgba(255, 166, 0, 0.65);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px 15px 15px 0;
    color: black;
    font-size: 20px;
}
.form li::before{
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: -35px;
}
.form li:nth-child(1):before{
    background-image: url(images/avataaars.png);
}
.form li:nth-child(2):before{
    background-image: url(images/avataaars\ \(2\).png);
}
.form li:nth-child(3):before{
    background-image: url(images/avataaars\ \(3\).png);
}
fieldset{
    border-radius: 20px;
    background-color: #2226;
}
.form button{
    position: relative;
    top: 5px;
    left: 270px;
    background-color: #6668;
    border-radius: 20px;
    border: 3px solid white;
}
@keyframes fall{
    from{top: -10%;}
    to{top: 100%;}
}