@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
body{
    background: #444;
    font-family: Arial;
    margin: 0;

    height: 2000px;
}
a{
    text-decoration: none;
}
.navbar{
    position: relative;
    background-color: #001;
    padding: 0 10%;
}
.navbar a{
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
}
.navbar a:first-child{
    margin-right: 3em;
    font-size: 1.5em;
    color: white;
}
.navbar a:last-child,
.more{
    display: none;
}

/* sm styles */
@media (max-width: 720px){
    .navbar a{
        display: none;
    }
    .navbar a:first-child,
    .navbar a:last-child,
    .more{
        display: inline-block;
    }
    .navbar a:first-child{
        padding-left: 0;
    }
    .navbar a:last-child{
        position: absolute;
        border: 1px solid #ddd;
        border-radius: 3px;
        width: 1em;
        height: 1em;
        text-align: center;
        right: 10%;
        top: 0.75em;
    } 
 
    
    .navbar:target a:nth-child(2),
    .navbar:target a:nth-child(3),
    .navbar:target a:nth-child(4),
    .navbar:target a:nth-child(5){
        display: block;
    }
     
     
     
}